$cor-fundo-header: #77707A;
$cor-fonte-header: #FFF;

$cor-fundo-conteudoPrincipal: #F2F5F7;
$cor-destaque-smile: #B6BEC7;
$cor-destaque: #B6BEC7;

$cor-sobremim-subtitulo: #B6BEC7;
$cor-sobremim-fonte: #6F7B8D;
$cor-sobremim-fonte-hover: #000;

$cor-contato-subtitulo: #B6BEC7;
$cor-contato-fonte: #6F7B8D;
$cor-contato-fonte-hover: #000;

$cor-redesocial-fonte: #000;

$cor-fundo-footer: #77707A; 
$cor-fonte-footer: #FFF;