body {
	background-color: white;
	font-family: 'Open Sans',Arial,sans-serif;
}

.container {
	width: 88%;
	margin: 0 auto;
}

.moldeConteudo {
    padding: 5px;
    margin-left: 20px;
    margin-right: 20px;
    max-width: 100%;
    height: default;
    background-color: $cor-fundo-conteudoPrincipal;
}